# Bookrentalshop on jupyternotebook

# 만약 cx_oracle 모듈이 없으면 콘솔에서 설치할 것
```shell
> pip install cx_oracle
```

In [15]:
# cx_Oracle 모듈 첨부
import cx_Oracle as ora

### DB연결함수
사용법
```python
myconn()
```

In [12]:
def myconn():
    dsn = ora.makedsn('localhost', 1521, service_name='orcl')
    conn = ora.connect(user='scott', password='tiger', dsn=dsn, encoding='utf-8')
    return conn

### CDivTBL 전체 조회함수
```python
getAlldataFromDivtbl(conn) #conn은 연결객체
```

In [29]:
def getAllDataFromDivtbl(conn) -> None:
    cur = conn.cursor()
    query = 'SELECT division, names FROM divtbl'

    for row in cur.execute(query):
        print(row)

    cur.close()

In [30]:
# DB연결 실행
conn = myconn()
print('접속')

getAllDataFromDivtbl(conn)

접속
('I002', '자기계발')
('B001', '공포/스릴러')
('B002', '로맨스')
('B003', '무협')
('B004', '전쟁/역사')
('B005', '추리')
('B006', 'SF/판타지')
('I001', '프로그래밍')

### 신규 장르 입력
사용법 
```python
tup = (division, names)
setDataIntoDivtvl(conn, tup)
```

In [ ]:
def setDataIntoDivtbl(conn, tup):
    cur = conn.cursor()
    query = 'INSERT INTO divtbl VALUES (:1, :2)'
    cur.execute(query, tup)
    conn.commit()
    cur.close()

division, names = input('장르코드, 장르명 입력(구분자 , )').split(',')
tup = (division.strip(), names.strip())
setDataIntoDivtbl(conn, tup)
print('장르추가 성공')

In [ ]:
getAllDataFromDivtbl(conn)

In [44]:
def getAllDataFromBooktbl(conn) -> None:
    cur = conn.cursor()       # 쿼리문 작성 시 공백 추가 
    query = 'SELECT idx, author, division, names, ' \
            '       TO_CHAR(releasedate, \'YYYY-MM-DD\')'\
            ' FROM bookstbl ' \
            ' ORDER BY idx ASC '

    for row in cur.execute(query):
        print(row)

    cur.close()

In [ ]:
getAllDataFromBooktbl(conn)

In [52]:
def getDataFromBooktbl(conn) -> None:
    names = input('검색할 책 이름을 입력하세요')
    cur= conn.cursor()       # 쿼리문 작성 시 공백 추가 
    query = 'SELECT idx, author, division, names, '\
            '       TO_CHAR(releasedate, \'YYYY-MM-DD\') ' \
            ' FROM bookstbl '  \
            f' WHERE names LIKE \'%{names}%\'  ' \
            ' ORDER BY idx ASC '

    for row in cur.execute(query):
        print(row)

    cur.close()

In [ ]:
getDataFromBooktbl(conn)

### 삭제 함수
사용법
```python
delDataFromDivtbl(conn)
```

In [63]:
def delDataFromDivtbl(conn):
    division = input('삭제할 코드명 입력(예: I004)')
    cur = conn.cursor()
    query = 'DELETE FROM divtbl WHERE division = :1 '
    tup = (division, ) # 튜플 하나는 왼쪽처럼 만들어야 함
    cur.execute(query, tup)
    conn.commit()
    print('삭제 성공')
    cur.close()

In [64]:
delDataFromDivtbl(conn)

삭제 성공

In [ ]:
getDataFromBooktbl